body{
    background-color: lightgray;
}
.all{
    text-align: center;
    justify-content: center;
    height: 350px;
    width: 750px;
    background-color: lightgreen;
    margin-left: 400px;
    box-shadow: 0 0 30px black;
}
.example1 {
    font-size: large;
}
.example1::after{
    position: absolute;
    content: '-->';
    transition-property: transform;
}
.example1:hover::after{
    transform: translateX(5px);
    transition-duration: 1s;
    color: rgb(220, 20, 60);
}
a.example2{
    font-size: large;
    text-decoration: none;
}
a.example2::after{
    position: absolute;
    content: '';
    background: url('../img/long-arrow-alt-right-solid.svg') no-repeat;
    width: 23px;
    height: 23px;
    color: black;
    font-weight: 900;
}
a.example2::before{
    position: absolute;
    content: '';
    background: url('../img/square-regular.svg') no-repeat;
    width: 27px;
    height: 27px;
    color: black;
    font-weight: 900;
    left: 919px;  
    top: 153px; 
}
a.example2:hover::before{
    transform: rotate(45deg);
    transition-duration: 1s;
}
.example3::after{
    content: '(https://www.google.com)';

}
